{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update: {{ game }} {% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{{ game.matchday.season.get_absolute_url }}">{{ game.matchday.season.competition.classification }}: {{ game.matchday.season }}</a></li>
  <li><a href="{{ game.matchday.season.get_schedule_url }}">Schedule</a></li>
  <li class="active">{{ game.matchday }}: {{ game }}</li>
</ol>

<h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {{ game.matchday }}: {{ game }}</h2>

<form action="{{ game.get_absolute_url }}update/" role="form" method="post">
  {% csrf_token %}
  <div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#goals" aria-controls="goals" role="tab" data-toggle="tab">Goals</a></li>
        <li role="presentation"><a href="#cards" aria-controls="cards" role="tab" data-toggle="tab">Cards</a></li>
        <li role="presentation"><a href="#meta" aria-controls="meta" role="tab" data-toggle="tab">Meta</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="goals">
            <div class="row">
                <div class="col-md-6">
                  <h4>
                    {{ game.home_team }} <small>(Home)</small>
                  </h4>
                  <div class="well">
                    {% crispy home_goal_formset goal_formset_helper %}
                    <div class="form-group">
                      <button type="button" class="btn btn-success btn-sm add-fieldset">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Add Home Goal
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h4>
                    {{ game.away_team }} <small>(Away)</small>
                  </h4>
                  <div class="well">
                    {% crispy away_goal_formset goal_formset_helper %}
                    <div class="form-group">
                      <button type="button" class="btn btn-success btn-sm add-fieldset">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Add Away Goal
                      </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="cards">
          <div class="well">
            <div class="row">
              {% crispy card_formset card_formset_helper %}
              <div class="form-group col-md-12">
                <button type="button" class="btn btn-success btn-sm add-fieldset">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  Add Card
                </button>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="meta">
            {% crispy form %}
        </div>
    </div>

  </div>
  <div class="form-group">
    {% crispy form_played %}
  </div>
  <div class="form-group">
    <input type="submit" value="Submit" class="btn btn-primary"/>
    <a class="btn btn-default" onclick="window.history.back()" role="button">Cancel</a>
  </div>
</form>
{% endblock %}
{% block script %}
jQuery(document).ready(function(){

    var incrementClone = function(clone){
        var inputs = clone.find('input, select'),
            divs = clone.find('div.form-group, div.checkbox'),
            labels = clone.find('label');
        inputs.attr('id', incrementCloneAttr);
        inputs.attr('name', incrementCloneAttr);
        divs.attr('id', incrementCloneAttr);
        labels.attr('for', incrementCloneAttr);
    };

    var incrementCloneAttr = function(i, str){
        var regex = /-(\d+)-/gi,
            str = str || '';
        return str.replace(regex, function(m, num){
            return '-' + ++num + '-';
        });
    };

    var removeCloneId = function(clone){
        clone.find('input:hidden.element-id').removeAttr('value');
    };

    var incrementTotalForms = function(input){
        jQuery(input).attr('value', function(i, num){
            return ++num;
        });
    };

    jQuery('button.add-fieldset').click(function(){
        var parent = jQuery(this).parent(),
            clone = parent.prev().clone(),
            total = parent.parent().find('input[name$=\'TOTAL_FORMS\']');
        incrementTotalForms(total);
        incrementClone(clone);
        removeCloneId(clone);
        parent.before(clone);
        jQuery(clone).find('div.delete-checkbox input').change(function(){
            jQuery(this).parents('.panel').toggleClass('greyed-out');
        });
    });

    jQuery('div.delete-checkbox input').change(function(){
        jQuery(this).parents('.panel').toggleClass('greyed-out');
    });

    jQuery('div.goal-panel, div.card-panel').each(function(){
        var panel = jQuery(this);
        if (panel.find('div.delete-checkbox input').is(':checked')){
            panel.addClass('greyed-out');
        }
    });

});
{% endblock %}
