{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update: {{ game }} {% endblock %}

{% block content %}
<div class="page-header">
  <h1>Update: {{ game }} <small>{{ team.matchday.season }}</small></h1>
</div>
<form action="{{ game.get_absolute_url }}update/" role="form" method="post">
  {% csrf_token %}
  <div>
    {% crispy form %}
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Home: {{ game.home_team }}</div>
            <div class="panel-body">
                {% crispy home_goal_formset goal_formset_helper %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Away: {{ game.away_team }}</div>
            <div class="panel-body">
                {% crispy away_goal_formset goal_formset_helper %}
            </div>
        </div>
    </div>
  </div>
  <input type="submit" value="Submit" />
</form>
{% endblock %}
