{% extends "base.html" %}

{% block title %}Goals - {{ season }}{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{{ season.get_absolute_url }}">{{ season.competition.classification }}: {{ season }}</a></li>
  <li class="active">Goals</li>
</ol>

<h3>Goals</h3>

<div class="row">
  <div class="col-md-6">
    <h4>
      <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
      Leading Scorers
    </h4>
    {% include 'stats/scorers.html' %}
  </div>
  <div class="col-md-6">
    <h4>
      <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
      Assist Leaders
    </h4>
    {% include 'stats/assists.html' %}
  </div>
</div>
{% endblock %}
