{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Island Soccer{% endblock %}

{% block content %}
  <div class="page-header">
    <div class="jumbotron">
      <h1 class="media-heading">Major Island Soccer Organization</h1>
      <p>Welcome to the official site of Major Island Soccer Organization (MISO). We hope you find this site informative and entertaining.</p>
      <p><a target="_blank" class="btn btn-primary btn-lg" href="http://visitor.r20.constantcontact.com/d.jsp?llr=vhpmnncab&p=oi&m=1102109359349&sit=qqfgqkidb&f=f0df69ab-a91a-4406-acfc-f6b8f83fe157" role="button">Sign Up For the Newsletter</a></p>
    </div>
  </div>
  <p>
    <img class="img-responsive img-center" src="{% static 'img/miso_logo.jpg' %}" alt="Miso Logo">
  </p>
  <p>
    MISO, which stands for Major Island Soccer Organization (originally stood for Men’s Island Soccer Organization), was founded in August of 1996 by a group of players and teams to provide the island of Oahu it's then only men's USSF sanctioned league, as well as seeking something different from what was available at the time.  Many people spoke of creating such a League, but it wasn't until Cesar Robledo stepped forward and decided to organize the players and teams, that the League started taking form. Cesar would later become MISO's first President, with Sergio Bolioli as second VP.
  </p>
{% endblock %}
