{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
      <h3 class="text-center text-muted">Sign in to continue</h3>
      <div class="well well-lg">
        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
        alt="">
        <form action="/login/" role="form" method="post" class="form-signin">
          {% csrf_token %}
          <input type="text" class="form-control" id="username" name="username" placeholder="Enter your user name" value="{{ username }}" required autofocus>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
          <input type="hidden" name="next" value="{{ next }}"></input>
          {% if invalid_alert %}
            <div class="alert alert-danger" role="alert"><strong>Error:</strong> {{ invalid_alert }}</div>
          {% endif %}
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in</button>
        </form>
      </div>
      <p class="text-center" style="margin-top: 10px;">
        Go <a href="{{ next }}">back</a> or to the <a href="/">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            home page</a>.
      </p>
    </div>
  </div>

{% endblock %}
