{% extends "base.html" %}

{% block title %}Signed Out{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
      <h3 class="text-center text-muted">Signed out</h3>
        <div class="well well-lg">
          <img class="profile-img" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"
            alt="">
          <div class="form-signin">
            <a href="{{ next }}" type="button" class="btn btn-primary btn-lg btn-block">
              Continue
            </a>
            <a href="/login?next={{ next }}" type="button" class="btn btn-default btn-lg btn-block">
              Sign in again
            </a>
          </div>
        </div>
        <p class="text-center" style="margin-top: 10px;">
          Or go to the <a href="/">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            home page</a>.
        </p>
    </div>
  </div>

{% endblock %}
