<div class="col-md-4 com-soccerisland--matchday">
  <div class="panel panel-default">
    <div class="panel-heading">{{ matchday }}<span><span class="label label-default">{{ matchday.date }}</span></span></div>
    <table class="table table-condensed">
      {% for game in matchday.games.all %}
      <tr class="game-score">
        <td class="col-md-5 text-center text-nowrap">
          <a href="{{ game.home_team.url }}">{{ game.home_team }}</a>
        </td>
        <td class="col-md-2 text-center text-nowrap">
          {{ game.get_score }}
        </td>
        <td class="col-md-5 text-center text-nowrap">
          <a href="{{ game.away_team.url }}">{{ game.away_team }}</a>
        </td>
      </tr>
      <tr class="game-field">
        <td colspan="3" class="text-center text-nowrap col-md-12"><small>{{ game.date }} <br/> {{ game.field }}</small></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
