{% extends "base.html" %}

{% block title %}Roster of {{ team }} {% endblock %}

{% block content %}
<div class="page-header">
  <h1>{{ team.name }} <small>{{ team.classification }}</small></h1>
</div>
  <div class="row">
    <div class="col-md-6">
      <h3>Roster</h3>
      <table class="table table-bordered com-soccerisland--roster">
        <tr><th>#</th><th>Name</th></tr>
        {% regroup current_playfors by injury_reserve as current_playfors_by_ir %}
        {% for current_playfors in current_playfors_by_ir %}
          {% if current_playfors.grouper %}
        <tr><th colspan="2">Injury Reserve</th></tr>
          {% endif %}
          {% for playfor in current_playfors.list %}
          <tr class="{{ playfor.player.position }}{{ playfor.player.current_suspensions|yesno:" suspended," }}{{ playfor.injury_reserve|yesno:" injury-reserve," }}">
          <td class="col-md-1">{{ playfor.number|default_if_none:"-" }}</td>
          <td>
            {{ playfor.player.person }}
            {% for suspension in playfor.player.current_suspensions %}
            <span>
              <a href="#"
                tabindex="0"
                class="btn btn-xs btn-danger suspension-popover"
                role="button"
                data-toggle="popover"
                data-trigger="focus"
                title="Suspension&nbsp;{{ suspension.suspended_until|timeuntil:suspension.date_received }}"
                data-html="True"
                data-content="
                <dl>
                  <dt>Season</dt>
                  <dd>{{ suspension.season|default_if_none:"All competitions" }}</dd>
                  <dt>Until</dt>
                  <dd>{{ suspension.suspended_until }}</dd>
                </dl>
                ">
                {{ suspension.suspended_until|timeuntil }} left
              </a>
            </span>
            {% endfor %}
          </td>
        </tr>
          {% endfor %}
        {% endfor %}
      </table>
      <h3>Former Players</h3>
      <table class="table table-bordered">
        <tr><th>Name</th><th>From</th><th>To</th></tr>
        {% for playfor in former_playfors %}
        <tr>
          <td>{{ playfor.player.person }}</td>
          <td class="col-md-3">{{ playfor.from_date }}</td>
          <td class="col-md-3">{{ playfor.to_date }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col-md-3">
      <h3>Responsible:</h3>
      <table class="table table-striped">
        {% for coachfor in current_coachfors %}
        <tr>
          <td>
            <h4>
              {{ coachfor.coach }} <br/>
              <small>
                {% if coachfor.responsibility == "A" %}
                Assistant Coach
                {% elif coachfor.responsibility == "M" %}
                Manager
                {% else %}
                Coach
                {% endif %}
              </small>
            </h4>
            Email: {{ coachfor.coach.person.address.email|default:"-" }} <br/>
            Phone: {{ coachfor.coach.person.address.phone|default:"-" }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col-md-3">
      <h3>Enrolled in:</h3>
      <table class="table">
        {% for season in seasons %}
        <tr><td>{{ season }}</td></tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
