{% extends "base.html" %}


{% block title %}Standings - {{ season }}{% endblock %}


{% block content %}

<ol class="breadcrumb">
  <li><a href="{{ season.get_absolute_url }}">{{ season.competition.classification }}: {{ season }}</a></li>
  <li class="active">Standings</li>
</ol>

<h3>Standings</h3>

<table class="table table-striped">
    <tr>
    <th>#</th>
    <th>Team</th>
    <th class="text-center">Played</th>
    <th class="text-center">Won</th>
    <th class="text-center">Drawn</th>
    <th class="text-center">Lost</th>
    <th class="text-center">Goals For</th>
    <th class="text-center">Goals Against</th>
    <th class="text-center">Goal Difference</th>
    <th class="text-center">Points</th>
    </tr>
    {% for team in standings %}
    <tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="{{ team.get_absolute_url }}">{{ team.name }}</a></td>
    <td class="text-center">{{ team.num_games }}</td>
    <td class="text-center">{{ team.num_wins }}</td>
    <td class="text-center">{{ team.num_draws }}</td>
    <td class="text-center">{{ team.num_losses }}</td>
    <td class="text-center">{{ team.num_scored_goals }}</td>
    <td class="text-center">{{ team.num_conceded_goals }}</td>
    <td class="text-center">{{ team.goal_diff }}</td>
    <td class="text-center">{{ team.num_points}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
