body {
  padding-top: 50px;
}
.img-center {
  margin: 0 auto;
}
.tab-content {
  padding-top: 10px;
}
table.com-soccerisland--roster tr td:first-child,
table.com-soccerisland--roster tr th:first-child {
  border-left-width: 5px;
}
table.com-soccerisland--roster tr.G td:first-child {
  border-left-color: #FC6;
}
table.com-soccerisland--roster tr.D td:first-child {
  border-left-color: #9C9;
}
table.com-soccerisland--roster tr.M td:first-child {
  border-left-color: #69C;
}
table.com-soccerisland--roster tr.F td:first-child {
  border-left-color: #F2777A;
}
table.com-soccerisland--roster tr.injury-reserve {
  background: #FFFACD;
}
table.com-soccerisland--roster tr.suspended {
  background: #FAEBD7;
}
table.com-soccerisland--roster tr.suspended td > span {
  float: right;
  white-space: nowrap;
}
div.com-soccerisland--matchday div.panel-heading span.label {
  vertical-align: middle;
}
div.com-soccerisland--matchday li.game-score {
  display: inline-block;
}
div.com-soccerisland--matchday tr.game-score > td {
  border-bottom: none;
}
div.com-soccerisland--matchday tr.game-info > td {
  border-top: none;
}
div.delete-checkbox div.form-group, div.delete-checkbox div.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}
p.signed-in {
  margin-top: 0px;
  margin-bottom: 0px;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.greyed-out {
    opacity: 0.5
}
